#timer-1{
    background-color: burlywood;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 200px;
    border-radius: 30px;

    width: 700px;
    margin-left: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.field{
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    width: 75px;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
}

.value{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.label{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}